
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userId = User.GetChatUsers().UserId;
}
<link href="~/chat.css" rel="stylesheet" />

<div class="container">
    <h3 class=" text-center" id="selectedUserText"></h3>
    <div class="messaging">
        <input type="hidden" id="selectedUserId" value="0" />
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Kullanıcılar</h4>
                    </div>

                </div>
                <div class="inbox_chat" id="users">

                </div>
            </div>
            <div class="mesgs" id="msgBox" style="display:none">
                <div class="msg_history" id="messages">

                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" id="message" class="write_msg" placeholder="Mesajınız" />
                        <button class="msg_send_btn" id="sendmessage" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr.min.js"></script>
<script src="~/chat.js"></script>

<script type="text/javascript">

    var userId = '@userId';

    chatLoad(userId);

</script>